<div class="uk-width-1-4@m uk-visible@m">
    <div class="sidebar uk-box-shadow-small" uk-sticky="offset: 25; bottom: #mbdd">
        <ul class="uk-nav-default uk-nav-parent-icon" uk-nav="multiple: true">
            {% for category in categories %}
                <li class="uk-parent">
                    <a href="#">{{ category.title }}</a>
                    {% if category.sub_categories %}
                        <ul class="uk-nav-sub">
                            {% for sub_category in category.sub_categories.all %}
                                <li><a href="#">{{ sub_category.title }}</a></li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
</div>