{% load static %}
<div class="header">
    <div class="uk-container">
        <div class="uk-flex-middle" uk-grid>
            <div class="uk-width-auto">
                <a href="{% url 'home' %}" class="logo uk-display-block"><img src="{% static 'img/logo.png' %}"></a>
            </div>
            <div class="uk-width-expand">
                <div class="uk-child-width-auto uk-visible@m" uk-grid>
                    <div class="uk-width-expand"></div>
                    <div><img src="{% static 'img/phone.png' %}" width="20" class="uk-margin-right"> <b>+996 772 55 04 40</b></div>
                    <div><img src="{% static 'img/whatsapp.png' %}" width="20" class="uk-margin-right"> <b>+996 555 32 22 31</b></div>
                </div>
                <div class="uk-hidden@m">
                    <div class="uk-float-right">
                        <a href="#offcanvas-flip" class="" uk-toggle><img src="{% static 'img/nav.png' %}" width="20"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<a href="#modal-catnav" uk-toggle="" class="btmnb uk-text-uppercase uk-hidden@m">Каталог товаров </span></a>
<div class="nav uk-visible@m">
    <div class="uk-container">
        <div class="uk-grid-medium" uk-grid>
            <div class="uk-width-1-4">
                <div>
                    <a href="#" class="nmnav catnav">
                        Каталог товаров
                    </a>
                </div>
            </div>
            <div class="uk-width-expand">
                <div class="uk-child-width-1-4 uk-text-center uk-grid-divider" uk-grid>
                    <div>
                        <a href="{% url 'delivery' %}" class="nmnav">
                            Доставка
                        </a>
                    </div>
                    <div>
                        <a href="#contact" uk-scroll class="nmnav">
                            Контакты
                        </a>
                    </div>
                    
                    <div>
                        <a href="https://www.rohsfashion.com/" target="_blank" class="nmnav">
                            О компании <img src="{% static 'img/out.png' %}" class="uk-margin-small-left" width="16">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
